# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build and Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3

      - name: Install dependencies
        run: npm i
 
  # release:
  #   needs: build
  #   runs-on: self-hosted

  #   steps:
  #     - name: Setup SSH
  #       uses: webfactory/ssh-agent@v0.5.1
  #       with:
  #         ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

  #     - name: Deploy to Server
  #       run: |
  #          # Set correct permissions for the private key
  #          ssh -o StrictHostKeyChecking=no ubuntu@13.48.234.163 -p 22 'cp -r /home/agents/backend-runner/_work/FootBall-Backend-Clean/FootBall-Backend-Clean/* /home/Project/FootballBackend'

  #     - name: Display success message
  #       run: echo "Connected via SSH and files copied successfully"

  #     - name: Flush PM2 process
  #       run: |
  #         ssh -o StrictHostKeyChecking=no ubuntu@13.48.234.163 -p 22 'pm2 flush backend'

  #     - name: Restart PM2 process
  #       run: |
  #         ssh -o StrictHostKeyChecking=no ubuntu@13.48.234.163 -p 22 'pm2 restart backend'

  #     - name: Cleanup Build Artifacts
  #       run: |
  #         ssh -o StrictHostKeyChecking=no ubuntu@13.48.234.163 -p 22 'cd /home/agents/backend-runner/_work/FootBall-Backend-Clean/FootBall-Backend-Clean/ && rm -r *'
